.night{
    background-color: #0e6399;
    color: white;
    width: 100vw;
    margin: 0;
}
.section{
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
}
.imageHeight{
    height: 30vh;
}
.day{
    background-color: #67a3af;
    color: white;
    width: 100vw;
    margin: 0;
}
.margin{
    margin: 0;
}