.night{
    background-color: #0e6399;
    color: white;
    width: 70vw;
}
.section{
    display: flex;
    justify-content: center;
    margin: 2vh;
    width: 35vw;
    flex-wrap: wrap;
    align-items: center;
}
.imageHeight{
    height: 30vh;
}
.day{
    background-color: #67a3af;
    color: white;
    width: 70vw;
}