.night{
    margin: 0;
    width: 99vw;
    height: 5vh;
    display: flex;
    align-items: center;
    font-size: 22px;
    justify-content: space-evenly;
}

.day{
    margin: 0;
    width: 99vw;
    height: 5vh;
    display: flex;
    align-items: center;
    font-size: 22px;
    justify-content: space-evenly;
}
.links{
    text-decoration: none;
    color: #ffffff;

}
.links:hover{
    color: red;
}