#night{
    background-color: #0e6399;
    margin: 0;
    width: 99vw;
    height: 5vh;
    display: flex;
    align-items: center;
    font-size: 22px;
    justify-content: space-evenly;
}

#day{
    background-color: #67a3af;
    margin: 0;
    width: 99vw;
    height: 5vh;
    display: flex;
    align-items: center;
    font-size: 22px;
    justify-content: space-evenly;
}
.links{
    text-decoration: none;
    color: #ffffff;

}
.links:hover{
    color: red;
}